@import "tailwindcss";

:root {
  --font-poppins: var(--font-poppins) --background: #ffffff;
  --foreground: #171717;
  --color-neu-bg: #e5e7eb;
  --neu-light: rgba(255, 255, 255, 0.8);
  --neu-dark: rgba(0, 0, 0, 0.6);
}

.dark {
  --neu-bg: #1f2937;
  --neu-light: rgba(255, 255, 255, 0.5);
  --neu-dark: rgba(0, 0, 0, 0.6);
}

@utility neu {
  background: var(--neu-bg);
  border-radius: 1rem;
  box-shadow:
    -8px 8px 16px var(--neu-light),
    8px 8px 16px var(--neu-dark);
}

@utility neu-inset {
  background: var(--neu-bg);
  border-radius: 1, 5rem;
  box-shadow:
    inset -6px -6px 12px var(--neu-light),
    inset 6px 6px 12px var(--neu-dark);
}

@utility neu-button {
  background: var(--neu-bg);
  border-radius: 0.75rem;
  padding: 0.75rem 1.5rem;
  box-shadow:
    -5px -5px 10px var(--neu-light),
    5px 5px 10px var(--neu-dark);
  transition:
    transfrom 200ms ease,
    box-shadow 200ms ease;
}

@utility neu-button-active {
  box-shadow:
    inset -4px -4px 8px var(--neu-light),
    inset 4px 4px 8px var(--neu-dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
} */

.glass {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.25),
    inset 0 1px 1px rgba(255, 255, 255, 0.25);
}
/* 
input:focus {
  background-color: #e6f7ff66;
  border-color: #0099ff;
  color: #000;
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.25),
    inset 0 1px 1px rgba(255, 255, 255, 0.25);

  border: solid 1px red;
} */

h1 {
  size: 100px;
}

html {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

/* Chromium, Safari, Edge */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Dark Mode - Firefox */
.dark {
  scrollbar-color: #475569 transparent;
}

/* Dark Mode - Chromium / Safari / Edge */
.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
